onStatusChange = function(status)
{
  console.log("status changed: "+status);
  if( status == QInstaller.Failure ){
     console.log("Installation failed! Exiting installer...");
     gui.rejectWithoutPrompt();
  }
  else if (status == QInstaller.Canceled) {
    console.log("Installation canceled! Exiting installer...");
    gui.rejectWithoutPrompt();
  }
}

function Controller()
{
  installer.autoRejectMessageBoxes;
  installer.setMessageBoxAutomaticAnswer("OverwriteTargetDirectory", QMessageBox.No);
  installer.setMessageBoxAutomaticAnswer("TargetDirectoryInUse", QMessageBox.No);
  installer.setMessageBoxAutomaticAnswer("stopProcessesForUpdates", QMessageBox.Ignore);

  installer.installationFinished.connect(function(){
    gui.clickButton(buttons.NextButton);
  });

  installer.statusChanged.connect(onStatusChange);
}

Controller.prototype.CredentialsPageCallback = function() {
  gui.clickButton(buttons.NextButton);
}

Controller.prototype.IntroductionPageCallback = function() {
  var widget = gui.currentPageWidget();
  widget.findChild("PackageManagerRadioButton").checked = true;
  
  gui.clickButton(buttons.NextButton);
}

Controller.prototype.ComponentSelectionPageCallback = function() {
  var widget = gui.currentPageWidget();

  <% @install_components.each do |component| -%>
  widget.selectComponent("<%= component %>");
  <% end -%>
  
  gui.clickButton(buttons.NextButton);
}

Controller.prototype.ReadyForInstallationPageCallback = function()
{
  gui.clickButton(buttons.NextButton);
}

Controller.prototype.FinishedPageCallback = function() {
  var checkBoxForm = gui.currentPageWidget().LaunchQtCreatorCheckBoxForm
  if (checkBoxForm && checkBoxForm.launchQtCreatorCheckBox) {
    checkBoxForm.launchQtCreatorCheckBox.checked = false;
  }
  gui.clickButton(buttons.FinishButton);
}
